body {
    font-family: Verdana, sans-serif;
    background: #eee;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

header, footer {
    background-color: #1f2937;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 0 16px;
}

footer {
    padding: 16px;
}

section {
    margin: 0 16px;
}

.links {
    display: flex;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

section {
    font-size: 16px;
}

section p {
    padding: 0 24px;
}

.music-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

header a, footer a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

header ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
