body {
    font-family: Verdana, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

header, footer {
    background-color: #1f2937;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 0 16px;
}

footer {
    font-size: 12px;
    padding: 16px;
}

section {
    margin: 0 16px;
}

.links {
    display: flex;
    gap: 16px;
}

.container {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.line {
    border-bottom: 1px solid #dedede;
}

section {
    font-size: 16px;
}

section p {
    margin: 16px 0;
    padding: 0 24px;
}

.description {
    list-style-type: none;
    margin: 16px 0;
    padding: 0 24px;
}

.music-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    font-size: 14px;
    text-align: center;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #1f2937;
    color: #fff;
    padding: 12px 0;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color: #1f2937;
    font-weight: bold;
}

header a, footer a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

header ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
